.wrapper {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.noTaskText {
  color: var(--gray-300);
  font-weight: normal;
}
