.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}

.wrapper {
  gap: 0.5rem;
  height: 32px;
  width: 46rem;
  max-width: 46rem;
  height: 60vh;
}

.tasksNumbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tasksCreated {
  color: var(--blue-200);
  font-weight: bold;
  font-size: 0.875rem;
}

.tasksCreatedAmount {
  background: var(--gray-500);
  width: auto;
  padding: 0.125rem 0.3125rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  color: var(--gray-200);
}

.tasksDone {
  color: var(--purple-200);
  font-weight: bold;
  font-size: 0.875rem;
}

.tasksDoneAmount {
  background: var(--gray-500);
  width: auto;
  padding: 2px 5px;
  border-radius: 1rem;
  font-size: 0.75rem;
  color: var(--gray-200);
}

.wrapperIndividualTask {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.individualTask {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 1rem;
  background: var(--gray-500);
  border: none;
  border-radius: 8px;
  padding: 1rem;
}

.individualTask p {
  color: var(--gray-100);
  font-weight: normal;
  line-height: 1.4;
}

.checkboxUnchecked,
.checkboxChecked {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
}

.checkboxUnchecked {
  border: 1px solid var(--blue-200);
  background: transparent;
}

.checkboxChecked:hover {
  border: none;
  background: var(--purple-200);
}

.checkboxChecked {
  background-color: var(--purple-500);
}

.checkboxUnchecked:hover {
  background: var(--blue-500);
}

.checkIcon {
  color: var(--gray-100);
}

.iconIndividualTask {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--gray-300);
  padding: 0.25rem;
  border-radius: 4px;
}

.iconIndividualTask:hover {
  color: var(--red-200);
  background: var(--gray-400);
}
