.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 32px;
  margin-top: -1rem;
}

.wrapper input[type='text'] {
  background: var(--gray-500);
  color: var(--gray-300);
  height: 3.375rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  max-width: 600px;
  width: 80vw;
}

.wrapper input[type='text']:focus {
  outline: none;
  color: var(--gray-100);
}

.wrapper > button {
  height: 3.375rem;
  width: 90px;
  border-radius: 8px;
  gap: 0.5rem;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-500);
  color: var(--gray-100);
  cursor: pointer;
}

.wrapper > button:hover {
  background: var(--blue-200);
}
